@import 'tailwindcss';

@import url('https://fonts.cdnfonts.com/css/crystal-radio-kit');
                

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 30px;
    font-family: "aptos-regular", sans-serif;
}

/* main {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
} */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
    background-color: #f5f5f5;
}

.app-info {
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: #333333 2px 2px 2px;
}

main {
    margin-bottom: 10%;
}

/* Ze Header*/

header {
    background-color: #3f3430;
    color: #f6f1e7;
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-family: 'Crystal Radio Kit', sans-serif;
    font-size: 1.4rem;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-right: 2rem;
    flex-basis: 80%;
}

header nav a {
    color: #f6f1e7;
    text-decoration: none;
    display: flex;
    align-items: center;
}

header nav a:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease;
    color: #f19625;
}

header i{
    font-size: 2rem;
}

header .logo-header {
    width: 30%;
    margin-left: 5%;
}

.search {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    background-color: #f15c22;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #f6f1e7;
    padding: 0.5rem 0.5rem;
    position: relative;
    cursor: text;
    height: fit-content;
}

.search i {
    cursor: pointer;
}


/* Ze Footer */ 

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3f3430;
    text-align: center;
    color: #f6f1e7;
    font-family: "aptos-regular", sans-serif;
    height: 5rem;
}