body {
    font-family: 'aptos-regular', sans-serif;
}

#entete_user {
    display: flex;
    flex-direction: row-reverse;
    width: fit-content;
    align-items: center;
    text-align: center;
    margin-bottom: 3%;
    margin-top: 3%;
}

#entete_user img{
    margin-right: 15%;
    width: 20%;
    height: auto;
}

#entete_user h2{
    font-family: 'Crystal Radio Kit', sans-serif;
    font-size: 1.8rem;
    color: #f6f1e7;
    text-shadow: #f15c22 2px 2px 4px;
    background-color: #f19625;
    border-radius: 10px;
}

#content_profil h2{
    margin-left: 0;
    margin-top: 2%;
    margin-bottom: 2%;
    font-weight: 700;
    font-size: 26px;
}

#art_like {
    background-color: #f19625;
    width: 28%;
    margin-bottom: 4%;
    padding: 2%;
    border-radius: 15px;
}

#art_like p{
    margin-bottom: 3%;
    text-align: center;
    color: #f1f6e7;
    font-size: large;
    padding-bottom: 2%;
}

#art_like img {
    width: 90%;
    height: 200px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

#arts_like {
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    margin-bottom: 5%;
}

#art_like button {
    color: #f1f6e7;
    margin-top: 8%;
    padding: 1% 2%;
    border-radius: 5px;
    background-color: #f15c22;
}

#art_like button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: 0.4s ease;
}

#follow {
    display: flex;
    width: 25%;
    margin-bottom: 5%;
    background-color: #f15c22;
    align-items: center;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 1%;
    padding-top: 1%;
    border-radius: 15px;
}

#follow img{
    width: 40%;
    height: auto;
}

#follow p{
    font-size: 24px;
    color: #f1f6e7;
}

#follow:hover{
    transform: scale(1.1);
    transition: 1s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.img-encours {
    object-fit: cover;
}